.announcement-form {
    background-color: #f9f9f9; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin-bottom: 20px;
}

.announcement-form label {
    display: block;
    margin-bottom: 10px;
    color: #333; /* Dark text color */
    font-weight: bold;
}

.announcement-form input[type="text"],
.announcement-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.announcement-form input[type="submit"] {
    
    padding: 10px;
    background-color: #007bff; /* Blue button color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.announcement-form input[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}

.announcement-container {
    border-radius: 10px;
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px;
}

.announcement {
    margin-bottom: 20px;
}

.announcement h3 {
    margin-top: 0;
    color: #333; /* Dark text color */
}

.announcement p {
    margin-bottom: 0;
    color: #666; /* Semi-dark text color */
}

.delete-form {
    display: inline;
    float: right; /* Move the delete button to the right */
}

.delete-form button {
    padding: 5px 10px;
    background-color: #dc3545; /* Red button color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.delete-form button:hover {
    background-color: #c82333; /* Darker shade of red on hover */
}